
<div class="container margin-top">

<div class="row ">
  <div class="col-md-10">
    <div class="article ">
        
        <div class="card">
          <div class="card-header"><h3>Avoid social contact if you have symptoms or are aged over 70 </h3></div>
          <div class="card-body">


            <p> The Public Health Agency of Sweden advises all those with symptoms, even mild, to avoid social contact in order to avoid infecting others. This applies to both work and private life.</p>
            
            <p>Stay at home if you feel unwell. Wait at least two days after you have recovered before returning to work or school.</p>
            
                <p>Those aged over 70 are advised to limit contact with other people as far as possible for some time ahead. This also applies to those who feel well.</p>
            
                    <p> It is particularly important that those of you providing care for the elderly in nursing homes or medical facilities do not to go to work if you have any symptoms of respiratory infection.</p>
            
                        <p>You should avoid visiting elderly relatives unless absolutely essential, even if you show no signs of infection. Avoid all but essential visits to hospitals and elderly care facilities/nursing homes, and do not visit if you have any symptoms of respiratory infection. </p>
            
          </div> 
          
          
          <div class="card-footer"><a href="https://www.folkhalsomyndigheten.se/the-public-health-agency-of-sweden/">Public Health Agency of Sweden</a></div>
        </div>
      </div>

      <div class="article ">
    <div class="card mb-4 box-shadow">
        <div class="card-header"><h3> Common symptoms of Covid-19 </h3></div>
        <div class="card-body">
            <ul>
                <li>cough </li>
                <li>fever  </li>
                <li>shortness of breath  </li>
                <li>runny nose   </li>
                <li> sore throat   </li>
                <li> headache   </li>
                <li> muscle or joint pain  </li>
                <li> nausea  </li>
              </ul>  
          <p class="card-text">

            
            Most people who get the virus do not become seriously ill, but a number of cases with more severe symptoms including breathing difficulties and pneumonia have been reported. There are no signs of persistent chronic conditions after recovery. 
            </p>
      
        </div>
        <div class="card-footer"><a href="https://www.folkhalsomyndigheten.se/the-public-health-agency-of-sweden/">Public Health Agency of Sweden</a></div>
      </div>
    </div>
  
    
    </div>

    <div class="col-md-2 margin-top">


      <div class="card add-border fixed">
        <div class="card-header"><h3> Related News </h3></div>
        <div class="card-body">

          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action">Cras justo odio</button>
            <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
            <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
            <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
          </div>

        </div> 
        
        
        <div class="card-footer"><a href="https://www.folkhalsomyndigheten.se/the-public-health-agency-of-sweden/">Public Health Agency of Sweden</a></div>
      </div>

      
     

    </div>


  </div>

  </div>

