.margin-top{
    margin-top: 78px;
}

.article {
   
    border-bottom: .3rem solid #39cfba;

    padding: 50px 0px 50px 0px;
    
}

.card {
    border: none;
}

.card-header {
    border: none;
}

.card-body {
    border: none;
}

.card-footer{
    border: none;
}

.list-group-item-action:hover {
    z-index: 1;
    
    text-decoration: none;
    background-color: #dfdfdf;
}

.add-border{
    border: 0.2rem solid #39cfba;
}

.fixed
{
    position: fixed;
   
}

@media screen and (max-width: 992px) {
    .fixed
    {
        position: relative;
       
    }
  }
